<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header style="display: flex;">
        <!--Aqui começa meu logo-->
        <section>
            <img src="logo.jpg" alt="Foto de perfil" height="100px" width="100px">
        </section>
    <!--Navegação (menu)-->
        <nav>
        &nbsp; &nbsp; &nbsp; &nbsp; <a href="Entreterimento.html"> Entreterimento 🤣😋 </a>|
        <a href="musica.html">Músicas 🔊🎧</a> |
        <a href="Contato.html">Contate-nos 👀</a>

        </nav>
    </header>
    <main>
        <h1> Deixe sua mensagem!
        </h1>
    
        <form action="#">
            <label for="cNome">Nome: 😉</label><br>
            <input type="text" size="50" name="Tnome" id="Cnome" required="required"> <br>
        
            <label for="cemail">E-mail: 🔊</label><br>
            <input type="email" size="50" name="temail" id="Cemail" required="required"> <br>
        
            <label for="whatsapp">Whats App 📲:</label><br>
            <input type="text" size="50" name="whatsapp" id="Cwhatsapp" required="required"> <br> <br>


        
            <p>Deixe sua mensagem abaixo! 😉</p> <br>
            <textarea name="Mensagem" id="textarea" cols="50" rows="10"></textarea>
            <br><br><br>

            <input type="submit" value="Enviar ">
        </form>
    </main>
</body>
</html>