<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entreterimento</title>
</head>
<body>
    <header style="display: flex;">
    <!--Aqui começa meu logo-->
    <section>
        <img src="logo.jpg" alt="Foto de perfil" height="240x" width="300px">
    </section>
<!--Navegação (menu)-->
    <nav>
    &nbsp; &nbsp; &nbsp; <a href="lista finalizada.html">Dona do canal 💦🐔 </a>|
    <a href="musica.html">Músicas 🔊🎧</a>
    </nav>
</header>

<!--Conteúdo de entreterimento-->
<!--Exemplo de uso article-->

<article>
    <h1>Alguns Animes que já assisti e oque achei!!</h1>
    <h3> 1°- Boku dake ga inai machi</h3>
    <h5>Nível: 4/5 🖤🖤🖤🖤🤍
    <p>
        <img src= "boku dake inai machi.jpg""alt="Erased" width="250px" height="250px">
    </p>
    <p>
        A história segue Satoru Fujinuma, um jovem que vive em Chiba <br>
        que de alguma forma possui uma habilidade conhecida como "Revivescência", <br>
        que o envia de volta no tempo momentos antes de um incidente com risco de vida, <br> 
        permitindo-lhe evitar que aconteça novamente. <br>
    </p>
        <p>
        Conheça mais sobre ERASED: &nbsp; <a href="#">Leia +</a>
        </p>
    </article> 

<article>
    <h3>2°- Shingeki no Kyoujin</h3>
    <h5>Nível: 5/5 🖤🖤🖤🖤🖤
    <p>
        <img src= "SNK.jpg""alt="Shingekinokyoujin" width="370x" height="400px">
    </p>
        <p>
        Para escapar dos titãs, gigantes devoradores de homens, a humanidade se refugiou em cidades <br>
        cercadas por enormes muralhas. Quando eles voltam a atacar, <br>
        Eren Yeager se junta à luta para combater as criaturas. <br>
    </p>
        <p>
            Conheça mais sobre SNK: &nbsp; <a href="#">Leia +</a>
        </p>
        </article> 

<article>
    <h3>3°- Boku no Pico</h3>
    <h5>Nível: 1/5 🖤🤍🤍🤍🤍
    <p>
      <img src= "boku no pico.jpg""alt= "bokunopico" width="270x" height="300px">
    </p>
    <p>
        Um menino afeminado chamado Pico, trabalha no bar de seu avô durante o verão,<br>
        com a esperança de fazer alguns amigos. Tamotsu está na praia e vê Pico por uma luneta. <br>
        Ele se apaixona por Pico imediatamente. Mais tarde, ele o encontra no restaurante de Ojiisan, <br> 
        avô de Pico, que sugere que eles passem mais tempo juntos. <br>
    </p>
        <p>
        Conheça mais sobre Boku no Pico: &nbsp; <a href="#">Leia +</a>
     </p>
    </article> 

<article>
    <h3>4°- Itadaki Seieki</h3>
    <h5>Nível: 5/5 🖤🖤🖤🖤🖤
    <p>
    <img src= "itadaki seieki.jpg""alt= "bokunopico" width="270x" height="200px">
    </p>
    <p>
        Quando Kanzaki recebe sua primeira carta de amor de uma menina fofa de outra classe, <br>
        a última coisa que ele esperava quando foi ao encontro dela era ser chutado na cara antes mesmo de dizer olá! <br>
        Acontece que sua admiradora, Mari Setagoya, é uma vampira, que não consegue lidar muito bem com o sabor de sangue. <br>
        Mas ela precisa beber energia vital para sobreviver, e talvez um fluido corporal possa ser um excelente substituto... <br>
    </p>
        <p>
        Conheça mais sobre Itadaki Seieki: &nbsp; <a href="#">Leia +</a>
        </p>
    </article> 
<article>
    <h3>5°- Shimoneta</h3>
    <h5>Nível: 5/5 🖤🖤🖤🖤🖤
    <p>
    <img src= "shimoneta.jpg""alt= "shimoneta" width="290x" height="400px">
    </p>
    <p>
        Um prefeito de escola aparentemente feminino treinado por Matsukage <br> 
        para aderir a um código moral estrito que gira principalmente em torno de proteger <br>
        Anna de todas as influências potencialmente imorais, incluindo itens mundanos como cestas de <br>
        basquete e rolos de papel higiênico. <br>
        <p>
        Conheça mais sobre Shimoneta: &nbsp; <a href="#">Leia +</a>
        </p>
        </article> 
    <footer>
        By Mariです &copy;
    </footer>

</body>
</html>
