<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
</head>
<body>
    <!--Cabeçalho do meu site-->
    <header>
<!--Aqui começa meu logo-->
<section>

</section>
<!--Navegação (menu)-->
<nav>
    Sobre mim | Entreterimento | Música 
</nav>
</header>

<!--Conteúdo Principal do mySite-->
<main>
    <h1>Welcome to my universe</h1>
    <p>
watashi wa mariana desu!!
anime o daisuki desu, niijuichi sai desu
watashi wa recife no ikiteimasu
okane wa ii desu ne sorekara watashi no neko wo aishiteimasu! 
mata ne!
    </p>
    <h2>Coisas sobre mim</h2>
    <ul> <!--lista não ordenada-->
        <li>okane wa suki desu</li>
        <li>  neko wa suki desu</li>
        <li>tabetai wo suki desu</li>
        <li>neru suki</li>
        <li>pai de plantas</li>
        <li>tenho como práticas:
            <ul>
                <li>comer</li>
                <li>estudar</li>
            </ul>
        </li>
        <li>Adoro comer</li>
        <li>Gosto de zoar</li>
            </ul>
</main>
<footer>
    By Mariです &copy;
</footer>


</body>
</html>