<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>minha playlist</title>
</head>
<body>
    <header style="display: flex;">
        <!--Aqui começa meu logo-->
        <section>
            <img src="logo.jpg" alt="Foto de perfil" height="100px" width="100px">
        </section>
    <!--Navegação (menu)-->
        <nav>
        &nbsp; &nbsp; &nbsp; &nbsp; <a href="lista finalizada.html">Dona do canal 💦 </a>|
        <a href="Entreterimento.html"> Entreterimento</a>
        </nav>
    </header>
<!--Seção para minha playlist-->
<main>
    <h3>Top 10 das minhas músicas preferidas:</h3>
    <ol>
        <li>Ret - Aquele Menino</li>
        <li>Ret - Só pra você lembrar</li>
        <li>Numa margem Distante - Jamais Serão</li>
        <li>Mr. Kitty - After dark</li>
        <li>Gorillaz - Broken</li>
        <li>Gorillaz - Tomorrow comes Today</li>
        <li>Ret - Neurótico de Guerra</li>
        <li>Gorillaz - On melancholy Hill</li>
        <li>Edson Gomes - Malandrinha</li>
        <li>Mareux - The Perfect Girl</li>
    </ol>
</main>
<footer>
    By Mariです &copy;
</footer>

</body>
</html>