<!--Conteúdo Principal do mySite-->
<main>
    <body>
        <header style="display: flex;">
            <!--Aqui começa meu logo-->
            <section>
                <img src="logo.jpg" alt="Foto de perfil" height="100px" width="100px">
            </section>
        <!--Navegação (menu)-->
            <nav>
            &nbsp; &nbsp; &nbsp; &nbsp; <a href="Entreterimento.html"> Entreterimento 🤣😋 </a>|
            <a href="musica.html">Músicas 🔊🎧</a> |
            <a href="Contato.html">Contate-nos 👀</a>
    
            </nav>
        </header>

        <h1>Welcome to my universe</h1>
    <p>
watashi wa mariana desu!!
anime o daisuki desu, niijuichi sai desu
watashi wa recife no ikiteimasu
okane wa ii desu ne sorekara watashi no neko wo aishiteimasu! 
mata ne!
    </p>
    <h2>Coisas sobre mim</h2>
    <ul> <!--lista não ordenada-->
        <li>okane wa suki desu</li>
        <li>  neko wa suki desu</li>
        <li>tabetai wo suki desu</li>
        <li>neru suki</li>
        <li>pai de plantas</li>
        <li>tenho como práticas:
            <ul>
                <li>comer</li>
                <li>estudar</li>
            </ul>
        </li>
        <li>Adoro comer</li>
        <li>Gosto de zoar</li>
            </ul>
</main>
<footer>
    By Mariです &copy;
</footer>


</body>
</html>